* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #efeeee;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 0 80px;
}

/* ...........................Hero....................................... */
nav {
  background: linear-gradient(
    to left,
    #282e31 0%,
    #282e31 50%,
    #282e31 50%,
    #282e31 100%
  );
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: auto auto;
  padding: 0rem 3rem;
}

.nav-container {
  background-color: rgb(253, 251, 251);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-btn ul {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-btn ul li {
  display: flex;
  width: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  height: 50px;
  border-right: 1px solid #e0e0e0;
}
.nav-btn ul li a:hover {
  color: #dbdcdc;
  cursor: pointer;
}
.logo {
  font-weight: 900;
  color: white;
  margin-top: 15px;
}
.ktn {
  font-weight: 800;
}
.search-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
}
.search-btn input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.menu {
  background-color: transparent;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.login img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 1px;
  margin-top: 2px;
  border: 4px solid rgb(250, 249, 249);
}

/* ..............................bg-img header............................/ */
.img {
  width: 100%;
  height: 300px;
  background-image: url(../assets/Rectangle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 0.5%;
}
.hero-title {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-title h1 {
  color: white;
  font-size: 80px;
  position: absolute;
}
.menuBtn {
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  right: 10px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  display: none;
}
.menuBtn img {
  width: 20px;
  background-color: #dbdcdc;
  margin-top: 15px;
}
@media screen and (max-width: 770px) {
  .hidden {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .menuBtn {
    display: block;
  }
  .add button {
    display: none;
  }
  .menu {
    position: fixed;
    top: 9%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #282e31;
    color: white;
    padding: 10px;
    width: 100%;
    gap: 30px;
  }
}
