.write {
  padding: 50px 50px;
  background-color: white;
}
.writeform {
  position: relative;
}
.writeformgroup {
  /* margin-left: 140px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.writeformgroup textarea {
  /* margin-bottom: 30px; */
}
.writeIcon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput {
  outline: none;
}
.writeText {
  font-size: 10px;
}
.writeSubmit {
  position: absolute;
  top: 40px;
  right: 20px;
  color: white;
  background-color: #accfff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
