* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: space-between;
  padding: 40px;
  background-color: #282e31;
  color: rgb(255, 253, 253);
}

.column h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.column p {
  font-size: 14px;
}
.icons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  font-size: 1.5rem;
  transition: all 0.4s;
  cursor: pointer;
}

.footer-container h5 {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 500;
}
.footer-container ul li {
  font-size: 13px;
  margin-bottom: 1.5rem;
}

.footer-container ul li a {
  color: rgb(251, 250, 250);
  text-decoration: none;
  transition: all 0.4s;
}
.footer-container ul li a:hover {
  color: #09efef;
}


.col4 {
  background-color: #dbdcdc;
}
.col4 p {
  text-align: center;
  font-size: 10px;
}
.col4 span {
  color: rgb(102, 102, 190);
}
.second-col{
  margin-top: 30px;
}
@media screen and (max-width: 770px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
