.account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: white;
  border-radius: 5px;
}
.col-account {
  width: 400px;
  padding: 10px 24px;
  border-radius: 4px;
}
.account1 input {
  width: 100%;
  padding: 10px 24px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.col-account h3 {
  font-size: 20px;
  color: rgb(5, 5, 5);
  margin-bottom: 16px;
}
.btn-account {
  width: 100%;
  padding: 10px 24px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #599eff;
  border: none;
  cursor: pointer;
}
.account {
  display: flex;
}
.account1 {
  color: #0d0e0f;
}
.account2 {
  color: rgb(27, 27, 169);
  cursor: pointer;
}
