.add {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.add button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  /* margin-top: 4px; */
  border: 1px solid #0b0b0b;
}
